pyqt5
numpy>=1.21,<2.0
scipy
numba>=0.55.1
pandas
tables>=3.7,<3.10
mypy_extensions
pyyaml
appdirs
ffmpeg
h5py
vispy
split_dataset
pyzmq
QDarkStyle==2.7
markdown==3.2.2
click
traitlets
nidaqmx
toml
pyqtgraph
napari
scikit-image
lxml_html_clean
pyvisa
pyvisa-py
